@font-face {
  font-family: 'Pixel';
  src: url('NESCyrillic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#canvas {
  top: 20px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  border-radius: 20px;
  border-style: solid;
  border-color: white;
  width: 1133px;
  height: 512px;
}

body {
  background-color: #8acfed;
  margin: 0;
  text-align: center;
  font-family: Pixel, sans-serif;
  font-size: 20px;
}

.logo {
	width: 25%;
  padding-top: 45px;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1430px;
}

.instructions {
  margin-top: 40px;
}

.text_color {
  color: red;
}